<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>
<body>
{% block body %}
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">You are</h4>
                        <p class="text-muted">
                            {% if is_granted('ROLE_USER') %}
                                Hello, {{ app.user.email }}
                            {% elseif is_granted('ROLE_ADMIN') %}
                                Hello, admin
                            {% else %}
                                Hello, anonymous
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        {#<h4 class="text-white">Navigation</h4>#}
                        <ul class="list-unstyled">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li>
                                    <a href="{{ path('app_logout') }}" class="text-white row align-items-center">
                                        Logout <i class="fas fa-sign-out-alt fa-3x"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="{{ path('index') }}" class="navbar-brand d-flex align-items-center">
                    <i class="fas fa-home"></i>
                </a>

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    You are logged
                {% else %}
                    <a href="{{ path('app_login') }}" class="float-lg-left">
                        Login <i class="fas fa-door-open"></i>
                    </a>
                {% endif %}

                <a href="{{ path('app_register') }}" class="float-lg-right">
                    Registration <i class="fas fa-registered"></i>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                        aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <div class="alert alert-danger" role="alert" style="display: none">
        <h4 class="alert-heading">Error</h4>
        <p class="mb-0"><i class="fa fa-exclamation-circle"></i>Warning</p>
    </div>

    <div class="alert alert-success" role="alert" style="display: none">
        <h4 class="alert-heading">Successul!</h4>
        <p class="mb-0"><i class="fab fa-angellist"></i>Successul</p>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script>
        function getJSonObject(value) {
            return $.parseJSON(value.replace(/&quot;/ig, '"'));
        }

        let user_roles = getJSonObject("{{ app.user ? app.user.roles|json_encode() : "{}" }}");
        let user_id = "{{ app.user ? app.user.id : "0" }}";
        let gate_access_user = '{{ gate_access_user }}';
        let gate_access_psw = '{{ gate_access_psw }}';
    </script>
{% endblock %}
</body>
</html>
